body {
    background-color: #80CBC4
}
.button {
display: block;
    margin: 0 auto;
    width: 40%;
    height: 70%;

    opacity: 0;
}
.sometext{
    display: block;
}
h1 {
    color: white;
    font-family: cursive;
    text-align: center;
    font-size: 48pt;
    margin-top: -23% ;
}